<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
    <h1>{{ category_name }}</h1>
    {% if category %}
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a> </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>当前目录没有页面</strong>
        {% endif %}
    {% else %}
        指定的目录{{ category_name }}并不存在！
    {% endif %}
    <a href="/ran/category/{{ category.slug }}/add_page/">增加页面</a>
</body>
</html>