<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ran</title>
</head>
<body>
    <h1>ran says</h1>
    {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/ran/category/{{ category.slug }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>当前没有可供展示的目录！</strong>
    {% endif %}
    {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>当前没有可供展示的页面！</strong>
    {% endif %}

    <a href="/ran/about/">关于</a><br />
    <a href="/ran/add_category/">增加一个目录</a><br />
</body>
</html>